body {
    font-family: Monospace, Helvetica, sans-serif;
    font-weight: bold;
}

input[type=text] {
    width: 100%;
    padding: 10px 10px;
    margin: 5px 0;
    box-sizing: border-box;
    border: 2px;
    border-radius: 4px;
    background-color: #85929E;
    color: black;
    font-size: 15px;
}

select {
    width: 100%;
    padding: 10px 10px;
    margin: 5px 0;
    border-radius: 4px;
    font-size: 15px;
    background-color: #AEB6BF;
}

table {
    position: relative;
    border-radius: 10px;
    background: #fff;
    border: 2px solid #AEB6BF;
    margin: 16px auto;
    padding: 1rem;
    width: 50%;
}

.hasil {
    position: relative;
    background: #AEB6BF;
    border-radius: 4px;
    margin: 16px auto;
    padding: 1rem;
    width: 50%;
}